<div class="col-xs-12 col-md-12 col-xl-12" ng-init='initPage()'>

    <script src="scripts/components/floating-labels.js"></script>
    <script src="scripts/forms-basic.js"></script>
           <div class="row" >
                <div class="col-xs-12 col-xl-4 col-lg-6">
                        <div class="form-group floating-labels">
                            <label for="year">Years</label>
                            <select id="year" class="themes-select m-t-20" ng-model='year' ng-options="year.value for year in years | orderBy: 'value'" name="year">
                            </select> 
                        </div>
                </div>
                <div class="col-xs-12 col-xl-6">
                    <div class="form-group floating-labels">
                        <button type="button" class="btn btn-primary m-r-10 m-b-10 btn-flat" ng-click='getConstituencies()'>Submit</button>
                    </div>
                </div>
            </div>
    
            <div class="m-b-20"></div>
            <div class="m-b-20"></div>
    
            <div class="row" >
                <div class="col-xs-12 col-xl-6">
                    <div class="form-group floating-labels">
                        <label for="search">Search</label>
                        <input id="search" ng-model="query.$" autocomplete="off" type="text" name="search">
                    </div>
                </div>
                <div class="col-xs-12 col-xl-6">
                    <div class="form-group floating-labels">
                        <label for="party">Region</label>
                        <input id="party" ng-model="query.region" autocomplete="off" type="text" name="party">
                    </div>
                </div>
                
                <div class="col-xs-12 col-xl-6">
                    <div class="form-group floating-labels">
                        <label for="constituency">Constituency</label>
                        <input id="constituency" ng-model="query.name" autocomplete="off" type="text" name="constituency">
                    </div>
                </div>
            </div>
    
    
            <div class="row" ng-if='constituenciesLoaded'>
                    <div class="col-xs-12 col-lg-12">
                        <constituency-list constituencies='constituencies' search='query'></constituency-list>
                    </div>
            </div>

</div>