<div class="table-responsive" ng-init='initPage()'>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Polling Station</th>
                        <th>Agent</th>
                        <th>Mobile</th>
                        <th>Constituency</th>
                        <th ng-if='showRemove'><button type="button" class="btn btn-info m-r-10 m-b-10 btn-flat">Action</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="agent in agents | filter : search">
                        <td class="text-danger text-bold">{{agent.id}}</td>
                        <td>{{agent.polling_station}}</td>
                        <td>{{agent.name}}</td>
                        <td>{{agent.msisdn}}</td>
                        <td>{{agent.constituency}}</td>
                        <td class="text-center"><i ng-if='showRemove' class="zmdi zmdi-close zmdi-hc text-danger" ng-click='showPopup(agent.id, $index)'></i></td>
                    </tr>
                </tbody>
            </table>
</div>