<div class="table-responsive" ng-init='initPage()'>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sender</th>
                        <th>Mobile</th>
                        <th>Message</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="outbox in outboxs | filter : search">
                        <td class="text-danger text-bold">{{outbox.id}}</td>
                        <td>{{outbox.name}}</td>
                        <td>{{outbox.msisdn}}</td>
                        <td>{{outbox.message}}</td>
                        <td>{{outbox.time}}</td>
                    </tr>
                </tbody>
            </table>
</div>