<div class="col-xs-12 col-md-10 col-md-10 col-xl-10">
<form name="form" ng-submit="form.$valid && save()">
    <script src="scripts/components/floating-labels.js"></script>
    <script src="scripts/forms-basic.js"></script>
            <div class="row" >
                <div class="col-xs-12 col-xl-6">
                    <div class="form-group floating-labels">
                        <label for="firstname">First name</label>
                        <input id="firstname" required ng-model="fname" autocomplete="off" type="text" name="firstname">
                    </div>
                </div>
                <div class="col-xs-12 col-xl-6">
                    <div class="form-group floating-labels">
                        <label for="lastname">Last name</label>
                        <input id="lastname" required ng-model="lname" autocomplete="off" type="text" name="lastname">
                        <p class="error-block">Please enter your last name</p>
                    </div>
                </div>
            </div>
            <div class="row">
                    
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group floating-labels">
                            <label for="email">Email</label>
                            <input class="email" required ng-model="email" autocomplete="off" type="email" name="email">
                            <p class="error-block hidden"></p>
                        </div>
                    </div>
            </div>
    
            <div class="row">
                    
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group floating-labels">
                            <label for="mobile">Mobile</label>
                            <input class="mobile" required ng-model="mobile" autocomplete="off" type="text" name="mobile">
                            <p class="error-block hidden"></p>
                        </div>
                    </div>
            </div>

           <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group floating-labels">
                            <label for="password">Password</label>
                            <input class="password" required ng-model="password" autocomplete="off" type="password" name="password">
                            <p class="error-block hidden"></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group floating-labels">
                            <label for="confirm-password">Confirm Password</label>
                            <input class="confirm-password" required ng-model="repassword" autocomplete="off" type="password" name="confirm-password">
                            <p class="error-block hidden"></p>
                        </div>
                    </div>
            </div>
    
            <div class="row">
                 <div class="col-xs-12 col-lg-6">
                        <div class="form-group floating-labels">
                            <label for="level">Level</label>
                            <select id="level" class="themes-select m-t-20" required ng-model='level' name="level" >
                                <option value="U">User</option>
                                <option value="A">Administrator</option>
                            </select> 
                        </div>
                </div>
            </div>
            
            <div class="m-b-40"></div>  
            <div class="m-b-40"></div> 
    
            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-lg btn-danger" value="Add User">
                </div>
            </div>
    </form>
</div>