
<div class="col-xs-12 col-lg-10" ng-controller='messageMainController'>
    <div class="m-b-40"><h4>Messages</h4></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div class="row m-b-10">
			<div class="col-xs-12 col-lg-12">
                <div class="m-b-20" ng-click='changeToNewMessage()'>
					<div class="text-widget-16 bg-danger-500 text-widget-md">
						<div class="row">
							<div class="col-xs-12 m-b-20 m-t-20">
								<div class="col-xs-3 left">
									<div class="centered">
										<i class="zmdi zmdi-email zmdi-hc-2x"></i>
									</div>
								</div>
                                
                                <div class="col-xs-6">
                                    <div class="title color-white">New Message</div>
                                </div>
                                
								<div class="col-xs-3 right bg-danger-500">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-b-20" ng-click='changeToInbox()'>
					<div class="text-widget-16 bg-danger-500 text-widget-md">
						<div class="row">
							<div class="col-xs-12 m-b-20 m-t-20">
								<div class="col-xs-3 left">
									<div class="centered">
										<i class="zmdi zmdi-inbox zmdi-hc-2x"></i>
									</div>
								</div>
                                
                                <div class="col-xs-6">
                                    <div class="title color-white">Inbox</div>
                                </div>
                                
								<div class="col-xs-3 right bg-danger-500">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-b-10" ng-click='changeToOutbox()'>
					<div class="text-widget-16 bg-danger-500 text-widget-md">
						<div class="row">
						      <div class="col-xs-12 m-b-20 m-t-20">
								<div class="col-xs-3 left">
									<div class="centered">
										<i class="zmdi zmdi-mail-send zmdi-hc-2x"></i>
									</div>
								</div>
                                
                                <div class="col-xs-6">
                                    <div class="title color-white">Outbox</div>
                                </div>
                                
								<div class="col-xs-3 right bg-danger-500">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            </div>
        </div>
        <div ng-switch on='moduleType' class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div class="animate-switch" ng-switch-when='message'>
                <new-message-widget></new-message-widget>
            </div>
            <div class="animate-switch" ng-switch-when='inbox'>
                <list-inbox-widget></list-inbox-widget>
            </div>
            <div class="animate-switch" ng-switch-when='outbox'>
                <list-outbox-widget></list-outbox-widget>
            </div>
        </div>
    </div>
</div>



