<div class="col-xs-12 col-md-12 col-xl-12" ng-init='getParties()'>

    <script src="scripts/components/floating-labels.js"></script>
    <script src="scripts/forms-basic.js"></script>
            <div class="row" >
                <div class="col-xs-12 col-xl-12">
                    <div class="form-group floating-labels">
                        <label for="search">Search</label>
                        <input id="search" ng-model="query" autocomplete="off" type="text" name="search">
                    </div>
                </div>
               
            </div>
    
            <div class="row" ng-if='partiesLoaded'>
                    <div class="col-xs-12 col-lg-12">
                            <party-list parties='parties' search='query'></party-list>
                    </div>
            </div>

</div>