<div class="col-xs-12 col-md-10 col-md-10 col-xl-10" ng-init='loadYears()'>
<form name="form" ng-submit="form.$valid && save()">
    <script src="scripts/components/floating-labels.js"></script>
    <script src="scripts/forms-basic.js"></script>
            
          <div class="row">  
                <div class="col-xs-12 col-lg-6" ng-if='showYears'>
                    <div class="form-group floating-labels">
                        <label for="year">Year</label>
                        <select id="year" class="themes-select m-t-20" required ng-model='year' ng-options='year.value for year in years' name="year" ng-change='updateConstituencies(year)'>
                        </select> 
                    </div>
                </div>
              
                <div class="col-xs-12 col-lg-6" ng-if='showConstituency'>
                        <div class="form-group floating-labels">
                            <label for="constituency">Constituency</label>
                            <select id="constituency" class="themes-select m-t-20" required ng-model='constituency' ng-options="constituency.name for constituency in constituencies | orderBy: 'name'" name="constituency" ng-change='setConstituency(constituency)'>
                            </select> 
                        </div>
                </div>
              
            </div>
    
            <div class="row" >
                <div class="col-xs-12 col-xl-6">
                    <div class="form-group floating-labels">
                        <label for="poll">Poll Name</label>
                        <input id="poll" required ng-model="pollname" ng-disabled='disablePollField' autocomplete="off" type="text" name="poll">
                    </div>
                </div>
            </div>
           
    
            <div class="m-b-40"></div>  
            <div class="m-b-40"></div>

    
            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-lg btn-danger" value="add poll">
                </div>
            </div>
    </form>
</div>