
<div class="col-xs-12 col-lg-10" ng-controller='pollstationMainController' ng-init='initPage()'>
    <div class="m-b-40"><h4>Polling Stations</h4></div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div class="row m-b-10">
			<div class="col-xs-12 col-lg-12">
				<div class="m-b-20" ng-if='showAdd' ng-click='changeToAddPollstation()'>
					<div class="text-widget-16 bg-danger-500 text-widget-md">
						<div class="row">
							<div class="col-xs-12 m-b-20 m-t-20">
								<div class="col-xs-3 left">
									<div class="centered">
										<i class="zmdi zmdi-plus"></i>
										<i class="zmdi zmdi-eye zmdi-hc-2x"></i>
									</div>
								</div>
                                
                                <div class="col-xs-6">
                                    <div class="title color-white">add polling station</div>
                                </div>
                                
								<div class="col-xs-3 right bg-danger-500">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-b-10" ng-click='changeToShowPollstation()'>
					<div class="text-widget-16 bg-danger-500 text-widget-md">
						<div class="row">
						      <div class="col-xs-12 m-b-20 m-t-20">
								<div class="col-xs-3 left">
									<div class="centered">
										<i class="zmdi zmdi-eye zmdi-hc-2x"></i>
									</div>
								</div>
                                
                                <div class="col-xs-6">
                                    <div class="title color-white">show pollingstations</div>
                                </div>
                                
								<div class="col-xs-3 right bg-danger-500">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            </div>
        </div>
        <div ng-switch on='moduleType' class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div class="animate-switch" ng-switch-when='add'>
                <add-pollstation-widget></add-pollstation-widget>
            </div>
            <div class="animate-switch" ng-switch-when='list'>
                <list-pollstation-widget></list-pollstation-widget>
            </div>
        </div>
    </div>
</div>



